<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="card reservation_card">
  <div class="card_header"><h2>Book a Reservation</h2></div>
  <%= render 'reservation_form', reservation: @reservation, restaurant: @restaurant %>
</div>
<div class="card restaurant_card">
  <%= render './restaurants/restaurant', restaurant: @restaurant %>
</div>
