<div class="card new_restaurant_card">
  <div class="card_header"><h2>New Restaurant</h2></div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= render 'restaurant_form', restaurant: @restaurant %>
</div>
